<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<form action = "http://localhost:50100/uploader" method = "POST" 
         enctype = "multipart/form-data" style="margin: 2.6em;">
         <input type = "file" name = "file" />
         <input type = "submit"/>
</form>


<table>
<thead>
    <tr><th>Nome</th><th>Ultima Modifica</th><th>Dimensione</th></tr>
</thead>
<tbody>
    {% for x in files %}
    <tr>
        <td > <span><i class="{{x['type']}}" style="margin: 2.6em;"></i>{{ x['name'] }}</span></td>
        <td align="center">{{ x['bytes'] }}</td>
        <td>{{ x['time'] }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
